@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
    --color-primary: #FAF7F0;
    --color-secondary: #D8D2C2;
    --color-third: #B17457;
    --color-fourth: #4A4947;
    --font-primary: "Open Sans";
    --font-secondary: "Raleway";
    --font-logo: "Limelight";
}

.heading {
    @apply font-logo my-3 sm:text-3xl text-2xl
}

html {
    scroll-behavior: smooth;
}